.container { 
    width: 1200px; 
    margin: 0 auto; 
  } 
header{ 
    width: 1283px; 
    height: 189px; 
}
.title{ 
    text-decoration: none; 
    color: #000; 
    text-align: center; 
    font-family: Roboto; 
    font-size: 80px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: normal; 
 
    display: flex; 
    width: 334px; 
    height: 79px; 
    flex-direction: column; 
    justify-content: flex-end; 
} 
.mda{ 
    color: #4BCAFF; 
} 
.top-menu-fon{ 
    width: 1280px; 
    background-color: #35444F; 
} 
.top-menu{ 
    list-style-type: none; 
    display: flex; 
    justify-content: center; 
    padding: 0; 
 
    color: #FFF; 
    font-family: Roboto; 
    font-size: 24px; 
    font-style: normal; 
    flex-grow: 1; 
} 
.top-menu-text{ 
    border-left: 1px solid #FFF;
    border-right: 1px solid #FFF;
    padding: 24px 40px 18px 40px; 
} 
.link-top-menu{ 
    text-decoration: none; 
    color: #FFF; 
    font-family: Roboto; 
    font-size: 24px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: normal; 
} 
.left-menu-border{ 
    width: 344px; 
    margin-right: 52px; 
    margin-bottom: auto; 
    border: 1px solid #000; 
    background: rgba(0, 0, 0, 0.00); 
} 
.aside-text-menu{ 
    list-style-type: none;
    margin:0;
    padding: 0; 
 
} 
.aside-text{ 
    padding: 27px 78px 27px 38px; 
} 
.aside-text-fon{ 
    list-style-type: none; 
    width: 100%; 
} 
.link-text-fon{ 
    text-decoration: none; 
    color: #485863; 
    font-family: Roboto; 
    font-size: 27px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: 27px; 
} 
.content{ 
    width: 885px; 
    height: 832px;
 
    color: #2C2C2C; 
    font-family: Roboto; 
    font-size: 18px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: 24px; 
} 
.top-image-fon{ 
    width: 885px; 
    margin-bottom: 37px;
    border: 1px solid #000; 
    background: rgba(0, 0, 0, 0.00) 
}
.image{
    padding: 75px 268px 73px 297px;
}
.text1{
    margin-top: 37x;
    width: 885px; 
    height: 141px; 
 
    color: #2C2C2C; 
    font-family: Roboto; 
    font-size: 18px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: 24px; 
} 
.text2{ 
    margin-top: 13px;
} 
.aside{
    width: 1280px;
    display: flex; 
    justify-content: center;
}
.footer-menu{
    margin-top: 51px;
    margin-bottom: 30px;
    width: 1280px;
    height: 69px;
    background: rgba(99, 105, 110, 0.48);
}
.footer-menu-text{
    list-style-type: none; 
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 20px 40px 21px 40px;
}

.footer-text{
    color: #0C1927;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.footer-menu a{
    color: inherit;
    text-decoration: none;
    margin-right: 20px;
}
.footer-menu a:hover{
    color: #3181A6;
}
.aside-text a:hover{
    color:#000;
}
.aside-text:hover{
    background: #DBDBDB;
}
.top-menu-text:hover{
    background-color: #14171a;
}