*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }

 .header{
    margin: auto;
    max-width: 1440px;
    width: 100%;
    border-bottom: 1px solid #EBE8F4;
    background: #FFF
 }
 .header-menu{
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
 }
 .header-menu a{
    text-decoration: none;
 }
 .logo{
    text-decoration: none;
    padding: 25px 149px 26px 60px;
    color: #22202E;
    font-family: Montserrat;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal
 }
 .header-nav{
    padding: 29px;
 }
.list-nav{
    display: flex;
    list-style: none;
    column-gap: 44px;
}
.list-nav a{
    text-decoration: none;
    font-family: "Open Sans" sans-serif;
    font-weight: 400;
    color: #726E8D;



}
.icon img{
    width: 16px;
    height: 16px;
}
.icon{
    display: inline-flex;
    align-items: flex-start;
    gap: 16px;
    padding: 30px 80px 34px 280px;
}
.page-headers{
    width: 1440px;
    margin-top: auto;
    margin-left: auto;
}
.page-headers h2{
    padding: 80px 556px 24px 575px;
    color: var(--Dark-Primary, #2A254B);
    font-family: Montserrat;
    font-size: 36px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    }
.filters{
    display: flex;
    justify-content: space-between;
    padding: 8px 24px 8px 24px;
    gap: 100px;
}
.sorting{
    display: flex;
    justify-content: space-between;
    gap: 16px;
    width: 245px;
    height: 48px;
}
.sorting p{
        color: var(--Dark-Primary, #2A254B); 
        font-family: "Open Sans"; 
        font-size: 14px; 
        font-style: normal; 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        font-weight: 400; 
        line-height: 150%;  
}
.buton-filters{
    display: flex;
    justify-content: space-between;
    width: 570px;
    height: 48px;
    gap: 8px;
}
.page-headers select{
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
}
select{
    border: none;
    background-color: white;
}

.catalog {
    max-width: 1440px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(305px, 1fr));
    gap: 20px; /* Adjust the gap between items */
    padding: 20px; /* Add some padding around the grid if needed */
  }
  .catalog-card {
    overflow: hidden; /* Ensures the content fits within the borders */
    display: flex;
    flex-direction: column;
    width: 305px;
    height: 462px;
  }
  .catalog-card img {
    width: 305px; /* Make images expand to cover the width */
    height: 365px; /* Keep the aspect ratio of your images */
  }
  .catalog-card .text {
    padding: 15px; /* Add padding around the text */
    flex-grow: 1; /* Makes the text container fill available space */
  }
.№1{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 462px;
}
.№2{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 462px;
}
.№3{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 462px;
}
.text{
    width: 165px;
    height: 63px;
    gap: 8px;
    font-family: Montserrat;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.button-view{
    padding-bottom: 40px;
    padding-top: 48px;
}
.view{
    background: var(--Light-Grey, #F9F9F9);
    margin: auto;
    padding: 0;
}


button a{
    text-decoration: none;
    color: #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    padding: 16px 32px;
}
.email-sign{ 
        max-width: 1440px; 
        margin: 0 auto; 
        display: flex; 
        justify-content: center; 
        align-items: center; 
}
.email{
    display: flex;
}
.image-email{
    width: 720px;
    height: 521px;
}
.text-email h2{
    color:  #2A254B;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding: 71px 130px 21px 49px;
}
.email p{
    width: 470px;
    width: 100%;
    text-align: center;
    color:  #2A254B;
    font-family: "Open Sans";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;

    padding: 21px 201px 216px 49px;
}
.button-bot{
    display: flex;
    width: 175px;
    height: 56px;
    align-items: flex-start;
    
    padding-left: 72px;
    padding-right: 176px;
    padding-bottom: 70px;
    background-color: none;
    /* padding: 216px 176px 70px 72px; */
}
button{
    display: flex;
    padding: 16px 32px;
    align-items: flex-start;
    border: 0;
    gap: 10px;
}   

footer{ 
    background: var(--Dark-Primary, #2A254B); 
    width: 1440px; 
    margin: auto; 
} 
 
.footer{ 
    display: flex; 
    justify-content: space-between; 
    margin: auto; 
 
    padding: 60px 0px 48px 80px; 
} 
.footer ul{ 
    text-decoration: none; 
    display: inline-flex; 
    flex-direction: column; 
    align-items: flex-start; 
 
} 
.footer li{ 
    list-style: none; 
    gap: 12px; 
} 
.footer a{ 
    text-decoration: none; 
    color: var(--White, #FFF); 
    font-family: Montserrat; 
    font-size: 16px; 
    font-style: normal; 
    font-weight: 400; 
    line-height: normal; 
} 
.hr{ 
    width: 1277px; 
    height: 1px; 
    color:#4E4D93; 
    margin: auto; 
} 
.footer-bottom { 
    width: 1277px; 
    margin: auto; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 10px 0; 
  } 
   
  .footer-bottom p { 
    margin: 0;  
  } 
   
  .footer-bottom ul { 
    display: flex; 
    list-style-type: none; 
    padding: 0;  
    margin: 0;  
  } 
   
  .footer-bottom ul li { 
    margin-right: 10px; 
  }
.footer-bottom p{
    color: var(--White, #FFF);
    font-family: "Open Sans";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}