*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.list-header{
    text-align: center;
    display: flex;
    justify-content: center;

}
.header-list {
    margin-left: 72px;
    list-style-type: none;
    padding: 32px 0px;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
}
a {
    text-decoration: none;
    color: black;
}
.banner{
    width: 1400px;
    height: 552px;
    display: block;
    margin: auto;
}
.content{
    display: flex;
    padding: 88px 0px;
    flex-direction: column;
    align-items: center;
    width: 856px;  
    margin-left: auto;
    margin-right: auto;  
}
.title{
    font-size: 48px;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
}
.title-discription{
    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
}
span{
    color: #00BDC9;
}
.list-discription{
    list-style-position: inside;
    padding: 40px 0px;
    gap: 24px;
}
.discription-list{
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%
}
.button{
    display: flex;
    padding: 10px 24px;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    background: #04959E;
}

footer{
    color: #161616;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    align-self: stretch;
}